1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

2. What is the difference between string and variable?

3. Describe three different data types.
4. What is an expression made up of? What do all expressions do?
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

8. Why is eggs a valid variable name while 100 is invalid?
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39; 'i have eaten'+ str(99) +'burritos'

THEORETICAL ANSWERS:
1.* -expression
  'hello'-value
   -87.8-value
   - is a expression
   / - expression
   + - expression
   6- value 
2.Variable is which holds a value of data.String is a data type which is collection of character like alpha or numericals with in single or double quotes.
3. data types are string , integer , float,boolian.
  string is a data type which is collection of character like alpha or numericals with in single or double quotes.
  Integer is a numerical data.
  Float is a decimal value.
  True and false is a boolian value.
 4.Expression is a mathematical operators which will do basic mathematical calculations.
 5.In a statement value will be assigned to a variable it will remain same. In expression value can be changable it will return the value after mathematical operation.
 6. after adding 1 also bacon contains the variable 22 only.
 7. 'spam'+'spamspam'='spamspamspam'
     'spam'*3='spamspamspam'
 8.eggs is a collection of alphabet we can use it as a string while 100 is a integer we cant use a number as a variable
 9.to get a integer we can use int(), to get a string we can use function str(), to get float value we can use float().
 10.we cant add different data types together to add  'i have eaten'+ 99 +'burritos' we can convert 99 as a string as
  'i have eaten'+ '99' + 'burritos' or

In [2]:
bacon=22

In [3]:
bacon+1

23

In [4]:
bacon

22

In [5]:
'spam'+'spamspam'

'spamspamspam'

In [6]:
'spam'*3

'spamspamspam'

In [7]:
100=200

SyntaxError: cannot assign to literal (798727903.py, line 1)

In [8]:
100='s'

SyntaxError: cannot assign to literal (3260075736.py, line 1)

In [9]:
a=1.2

In [10]:
type(a)

float

In [13]:
'i have eaten'+ str(99) +'burritos'

'i have eaten99burritos'

In [12]:
'i have eaten'+ '99' + 'burritos'

'i have eaten99burritos'